body {
  background-color: #25272e;
}

header {
  background: white;
  padding: 20px;
}

header h1 {
  color: #25272e;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
}
